.margin-top{
margin-top: 3px;
}
.top-space-30px{
  padding-top:30px;
}
.top-margin-space-10px{
  margin-top:10px;
}
.top-margin-space-20px{
  margin-top:20px;
}
.blue-bottom-border{
  border-bottom: 3px solid #007bff;
}
.little-text{
  font-size: 11px;
}
.bold-text{
  font-weight: bold;
}
.padding-4px{
  padding:4px;
}
.padding-10px{
  padding: 4px;
}
.top-padding-5px{
  padding-top: 5px;
}
.bold-text{
  font-weight: bold;
}
