{% extends 'blog/base.html' %}


{% block content %}
<style type="text/css">
	
	.bold{
		font-weight: bold;
	}
	.site-color{
		color:#339af0;
	}
	.border-top{
		border-top:solid 1px #339af0;
	}
	.shadow:hover {
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
	}


</style>

<!--breadcrumb-->
    <nav  aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Produtos e Preços</li>
        </ol>
    </nav>
<div class="container">
     

     {% include "finance/price_base.html" %}
      </div>

{% endblock %}