<div class="container">
      <div class="card-deck mb-3 text-center">
      
        <div class="shadow card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Assinante Zero To Hero English</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title"><span class="site-color" >Ainda não disponível</span> <small class="text-muted"></small></h3>
             <a {% comment %}href="{% url 'finance:checkout3' 1 %} {%endcomment%}"><button  type="button" class="margin-top btn btn-primary">Assinar Curso</button></a>
            <ul class="list-unstyled mt-3 mb-4">
              <small ><li class="border-top">Acesso aos podcasts semanais com scripts</li></small>
              <small > <li class="border-top">Materiais lançados semanalmente com exercícios</li></small>
              <small ><li class="border-top">Acesso a plataforma</li></small>
              <small > <li class="border-top">Acesso as aulas semanais</li></small>
              <small > <li class="border-top">Materiais necessários: Grátis</li></small>
              <small > <li class="border-top">Fórum de dúvidas</li></small>
              <small > <li class="border-top">Uma aula particular por mês - 50 minutos</li></small>
              <small > <li class="border-top"><li>Curso do básico ao intermediário/avançado</li></small>
              <small > <li class="border-top"><li>Duração de 6 meses - Todo o material fica disponível 24h por dia</li></small>
            </ul>
           
          </div>
        </div>

          <div class="shadow card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Aulas Particulares</h4>
          </div>
           <div class="card-body">
            <h1 class="card-title pricing-card-title">Aulas <span class="site-color" >personalizadas</span> </h1>
           
           <a href="{% url 'finance:checkout1' 1 %} "><button  type="button" class="margin-top btn btn-primary">Ver Opções e Preços</button></a>
           

            <ul class="list-unstyled mt-3 mb-4">
              <small ><li class="border-top">Uma aula experimental grátis</li></small>
              <small ><li class="border-top">Atendimento personalizado</li></small>
              <small ><li class="border-top ">Acesso aos podcasts semanais com scripts</li></small>
              <small ><li class="border-top">Correção de exercícios,tarefas e textos</li></small>
              <small > <li class="border-top">Aulas com duração de 1 hora</li></small>
              <small > <li class="border-top">Materiais necessários: Grátis</li></small>
              <small > <li class="border-top">Acesso a plataforma</li></small>
              <small > <li class="border-top">Pacote renovado a cada mês, sem contrato de fidelidade</li></small>
              <small > <li class="border-top">É necessário ter skype</li></small>
              
              <small class="bold text-muted"><li></li></small>
            </ul>
            
          </div>
        </div>
        <div class="shadow card mb-4 box-shadow">
          <div class="card-header">            <h4 class="my-0 font-weight-normal">Cursos De Inglês Completos</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title"><span class="site-color" >Ainda não disponível</span> <small class="text-muted"></small></h3>
             <a><button  type="button" class="margin-top btn btn-primary">Assinar </button></a>
            <ul class="list-unstyled mt-3 mb-4">
              <small ><li class="border-top">Acesso aos podcasts semanais com scripts</li></small>
              <small ><li class="border-top">Curso completo de inglês</li></small>
              <small > <li class="border-top">Materiais lançados semanalmente</li></small>
              <small ><li class="border-top">Acesso a plataforma</li></small>
              <small ><li class="border-top">Fórum de dúvidas</li></small>              
            </ul>
           


           
          </div>
        </div>
      </div>