{% extends "blog/base.html" %}

{% load i18n static %}

{% block extrastyle %}

{% endblock %}



{% block title %}Esqueci Minha Senha{% endblock %}

{% block content %}

<!--breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item">Contas</li>
            <li class="breadcrumb-item active" aria-current="page">Esqueci Minha Senha</li>
        </ol>
    </nav>

<div class="container">
    
{% if validlink %}




  <div   class="card-body">
    <h5 class="card-title">Instruções</h5>
    <p class="card-text">{% trans "Por favor coloque a sua senha duas vezes para confirmação." %}</p>  
  </div>

<form method="post">
{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-froup field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'Nova Senha:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-group field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Confirmação de senha:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input  class="btn btn-primary"  type="submit" value="{% trans 'Mudar minha senha' %}" />
</fieldset>
</form>

{% else %}

<div class="card text-center">
  
  <div class="card-body">
    <h5 class="card-title">Link Inválido</h5>
    <p class="card-text">{% trans "O link de mudança de senha está inválido, possivelmente porque já foi usado. Por favor, faça outro processo de mudança de senha." %}</p>
    </div>
  
</div>



{% endif %}
</div>

{% endblock %}

