{% extends "blog/base.html" %}
{% load i18n static %}



{% block title %}Email Para Envio De Instruções{% endblock %}
{% block content_title %}<h1>Trocar Senha</h1>{% endblock %}
{% block content %}

  <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item">Contas</li>
            <li class="breadcrumb-item active" aria-current="page">Email Para Envio De Instruções</li>
        </ol>
    </nav>

<div class="container">
<div class="card">

  <div   class="card-body">
    <h5 class="card-title">Instruções Serão Enviadas Ao Seu Email</h5>
    <p class="card-text">{% trans "Esqueceu a sua senha? Coloque o seu endereço de email abaixo, vamos mandar um email para que você tenha uma nova senha!" %}</p>
    
    
  </div>
  
</div>



<form method="post">{% csrf_token %}


 
    <div class="form-group">
        
        <label for="id_email">Endereço de Email</label>
        <input class="form-control" type="email" name="email" required id="id_email" />
    </div>
    <input class="btn btn-primary" type="submit" value="Trocar minha senha" />

</form>
</div>

{% endblock %}
