
{% extends "blog/base.html" %}
{% load i18n %}


{% block title %}Senha Trocada Com Sucesso{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<!--breadcrumb-->
    <nav  aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog:blog_list' %}">Contas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Senha Trocada Com Sucesso</li>
        </ol>
    </nav>

 <div class="container">
<div class="card text-center">
   <div class="card-body">
    <h5 class="card-title">{% trans 'A sua senha foi trocada com sucesso.' %}</h5>
    
  </div>
  
</div>

</div>

{% endblock %}


