{% load i18n %}{% autoescape off %}
{% blocktrans %}Você está recebendo esse e-mail pois pediu uma mudança de senha no site Zero To Hero English.{% endblocktrans %}

{% trans "Por favor, clique no link abaixo para mudar a sua senha:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "O seu nome de usuário, se você se esqueceu é: " %} {{ user.get_username }}

{% trans "Obrigado por usar o nosso site." %}

{% blocktrans %}Time Zero To Hero English {% endblocktrans %}

{% endautoescape %}
