{% extends "blog/base.html" %}
{% load i18n %}


{% block title %}As Instruções Foram Enviadas{% endblock %}

{% block content %}

  <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item">Contas</li>
            <li class="breadcrumb-item active" aria-current="page">Aviso - Instruções Foram Enviadas Ao Seu Email</li>
        </ol>
    </nav>

<div class="container">
<div class="card">

  <div class="card-body">
    <h5 class="card-title">Instruções Foram Enviadas Ao Seu Email</h5>
    <p class="card-text">{% trans "Enviamos instruções para configuração da sua nova senha, se uma conta com o mesmo email que você colocou existir, você as receberá logo." %}</p>
    <p class="card-text">{% trans "Se você não receber o email, veja se você colocou o mesmo email que você registrou e não se esqueça de olhar a lixeira do email." %}</p>
    <p class="card-text">{% trans "Se depois de mais de 5 minutos você ainda não recebeu o email, por favor envie um email para tarcisio_bueno@outlook.com relatando sobre a situação." %}</p>
    
  </div>
  
</div>
</div>



{% endblock %}
