{% extends 'blog/base.html' %}


{% block content %}

<nav class="" aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'plataforma:plataforma_index' %}">Plataforma</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'plataforma:course_content' topic.category.course.id topic.category.course.link %}">{{topic.category.course.course_title|title}}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'plataforma:topic_content' topic.category.course.link topic.id topic.link %}">{{topic.topic_title|title}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quiz</li>

        </ol>
 </nav>
<style type="text/css">
	.list-group-item:hover{
		background-color: #339af0;
	}
	.margin{
		margin:15px;
	}
  .margin-top{
    margin-top: 30px; 
  }

</style>
{% block javascript %}
	<script type="text/javascript">

	</script>
{% endblock %}

<div class="container">

{{topic.title}}

    <form class="" action="{% url 'plataforma:quiz' topic.id topic.link %}" method="POST">
      	{% csrf_token %}
    {% for question in topic.question_set.all %}


  <div class="margin-top card">
  <h5 class="card-header">Questão {{question.question_number}}</h5>
  <div class="card-body">
    <p class="card-text">{{question.question_text}}</p>
    <ul class="list-group">
   	  <label for="id1{{question.question_number}}"><li  class="list-group-item"><input type="radio" id="id1{{question.question_number}}" name="option{{question.question_number}}" value="{{question.option1}}" required>&nbsp{{question.option1}}</li></label>

      <label for="id2{{question.question_number}}"><li  class="list-group-item"><input type="radio" id="id2{{question.question_number}}" name="option{{question.question_number}}" value="{{question.option2}}"required>&nbsp{{question.option2}}</li></label>

      <label for="id3{{question.question_number}}"><li class="list-group-item"><input type="radio" id="id3{{question.question_number}}" name="option{{question.question_number}}" value="{{question.option3}}"required>&nbsp{{question.option3}}</li></label>

      <label for="id4{{question.question_number}}"><li  class="list-group-item"><input type="radio" id="id4{{question.question_number}}" name="option{{question.question_number}}" value="{{question.option4}}"required>&nbsp{{question.option4}}</li></label>

      <label for="id5{{question.question_number}}"><li  class="list-group-item"><input type="radio" id="id5{{question.question_number}}" name="option{{question.question_number}}" value="{{question.option5}}"required>&nbsp{{question.option5}}</li></label>
   </ul>

   
	</div>
</div>
 

    {% endfor %}
     <input class="margin btn btn-primary" type="submit" name="" value="Responder Quiz">
</form>
</div>

{% endblock %}